<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods">
    <test verbose="2" preserve-order="true"
          name="C:/Users/umoha/IdeaProjects/SeleniumSampleFramework/src/test/java/tests/SeleniumDockerTests.java">
        <classes>
            <class name="tests.SeleniumDockerTests">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                    <include name="test4"/>
                    <include name="test5"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>